{% block head %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <meta name="keywords" content="prospect immo, agence immobiliere prospect immo , prospect immo tunisie,prospect immo le kram, immobilier dans la banlieue nord,
        agence immobilière en Tunisie, agence immobilière à tunis, Tunisie immobilier , Tunisie investissement, Tunisie agences et promoteurs, Investissement en immobilier ,
        Promoteur immobilier, Agence immobiliere, Immobilier,offres immobilières de vente et location des biens immobilieres (maisons, duplex, villa, triplex, terrain, bureaux, appartements et fonds de commerce), acheter maison à bas prix, acheter une villa à tunis, vente appartement à bas prix, vente villa à bas prix, acheter duplex, achat appartement, offre immobilière, acheter triplex, acheter terrain, acheter ferme,
        acheter biens immobilier en Tunisie, louer appartement, louer villa, louer villa meublé à bas prix, louer étage de villa, louer duplex, louer triplex, louer bureau,
        louer biens tunisie, louer showroom, location showroom tunisie, louer showroom à bas prix, fond de commerce tunisie, bureau à louer à bas pris, louer bureau tunisie,
        acheter appartement dans une résidence, proposer un bien, vendre bien à tunis, visiter biens tunisie, projets neufs, coups de coeur, vacances tunisie,
        terrains à vendre tunis, bonnes affaires, Agent immobilier, les bonnes affaires en tunisie Immobilier, Achat, Vente, Location, Appartement, Maison, Parking,
        Terrain">
        <meta name="description" content="Prospect Immo est une agence immobilière intermédiaire spécialisée dans les opérations d'achat, de vente et de location des biens immobiliers sur la banlieue nord de la tunisie.">
        <meta name="author" content="">
        <meta name="format-detection" content="telephone=no">
        <meta name="p:domain_verify" content="20642f35e8a0b20a7dbf35266cd13efb"/>
        <title>{% block title %}Prospect Immo | Agence immobilière sur la banlieue nord de la Tunisie {% endblock %}</title>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="/js/html5/html5shiv.min.js"></script>
        <script src="/js/html5/respond.min.js"></script>
        <![endif]-->
        {{ include('base/style.html.twig') }}
    </head>
{% endblock %}