{% block head %}
    <link rel="shortcut icon" href="/images/logoprospectimmo.png">
    <link href="/libraries/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <linK href="/libraries/owl-carousel/owl.carousel.css" rel="stylesheet"/> <!-- Core Owl Carousel CSS File  *	v1.3.3 -->
    <linK href="/libraries/owl-carousel/owl.theme.css" rel="stylesheet"/> <!-- Core Owl Carousel CSS Theme  File  *	v1.3.3 -->
    <link href="/libraries/fonts/font-awesome.min.css" rel="stylesheet"/>
    <link href="/libraries/animate/animate.min.css" rel="stylesheet"/>
    <link href="/libraries/checkbox/minimal.css" rel="stylesheet"/>
    <link href="/libraries/drag-drop/drag-drop.css" rel="stylesheet"/>
    <link href="/css/components.css" rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet"/>
    <link href="/css/media.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
{% endblock %}
