{% extends 'base.html.twig' %}

{% block body %}
	<!-- Page Content -->
	<div class="page-content">
		<!-- Banner Section -->
		<div id="page-banner-section" class="page-banner-section container-fluid p_z">
			<img src="images/aa-listing/banner.jpg" alt="banner">
			<!-- Banner Inner -->
			<div class="page-title">
				<div class="container ">
					<div class="banner-inner">
						<h2>A PROPOS DE NOUS</h2>
					</div>
				</div>
				<div class="pages-breadcrumb">
					<div class="container">
						<!-- Page breadcrumb -->
						<ol class="breadcrumb page-breadcrumb pull-right">
							<li><a href="/">Accueil</a></li>
							<li class="active">Prospect Immo</li>
						</ol>
					</div>
				</div>
			</div><!-- Banner Inner /- -->
		</div><!-- Banner Section /- -->

		<!-- Property Detail Page -->
		<div class="property-agent">
			<!-- container -->
			<div class="container">
				<!-- container fluid -->
					<!-- col-md-9 -->
					<div class="col-md-9 col-sm-6 p_l_z">
						<!-- Agent Detail Box -->
						<div class="agent-detail-box">
							<!-- col-md-4 -->
							<div class="col-md-4">
								<div class="agent-header">
									<div class="agent-img"><img src="images/agent/agent-2.png" alt="agent" /></div>
									<div class="agent-name">
										<h5>Prospect Immo<span>Agence immobilière</span></h5>
									</div>
									<p><i class="fa fa-phone"></i> + 216 50 77 09 05</p>
									<p><i class="fa fa-mobile"></i> + 216 50 77 09 05</p>
									<p><i class="fa fa-envelope-o"></i> <a title="mail" href="mailto:Hanen.jridi@prospect-immo.tn">Hanen.jridi@prospect-immo.tn</a></p>
									<p><i class="fa fa-envelope-o"></i> <a title="mail" href="mailto:Contact@prospect-immo.tn">Contact@prospect-immo.tn</a></p>
									<ul class="property-social p_l_z m_b_z">
										<li><a title="facebook" href="https://www.facebook.com/agenceimmobiliereprospectimmo/" target="_blank"><i class="fa fa-facebook"></i></a></li>
										<li><a title="instagram" href="https://www.instagram.com/prospectimmo/" target="_blank"><i class="fa fa-instagram"></i></a></li>
										<li><a title="twitter" href="https://twitter.com/prospectimmo" target="_blank"><i class="fa fa-twitter"></i></a></li>
										<li><a title="linkedin-square" href="https://www.linkedin.com/in/prospect-immo-b20297153/" target="_blank"><i class="fa fa-linkedin" ></i></a></li>
										<li><a title="google-plus" href="https://plus.google.com/u/1/110505881530462632415" target="_blank"><i class="fa fa-google-plus"></i></a></li>
										<li><a title="pinterest" href="https://www.pinterest.com/prospectimmo/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
									</ul>
								</div>
							</div><!-- col-md-4 /- -->
							<!-- col-md-8 -->
							<div class="col-md-8">
								<div class="about-agent">
									<h5>À PROPOS DE Prospect Immo</h5>
						
									<p><b>Prospect Immo </b>est un groupe d'agence immobilière intermédiaire spécialisée dans les opérations d'achat, de vente et de location des biens immobiliers.</p>
									<p><b>Prospect Immo </b> met à votre service les compétences d’une équipe jeune, dynamique et professionnelle dans le domaine de l’immobilier et les stratégies 
									de commercialisation nécessaires pour la conclusion de la vente, l’achat ou la location dans les meilleures conditions. 
									Et elle vous offre un portefeuille riche et varié de biens immobiliers.</p>
									<p>Nous restons à votre disposition du lundi au samedi de 9H à 18H. Vous pouvez également prendre un rendez-vous pour une visite ou un conseil les dimanches.</p>
									<p><b>Nous serons fiers de vous accompagner dans la réalisation de votre projet immobilier.</b> </p> 
											</div>
							</div><!-- col-md-8 /- -->
						<!-- Agent Detail Box -->
					</div><!-- col-md-9 /- -->
				
				</div><!-- container fluid /- -->
			</div><!-- container /- -->
		</div><!-- Agent Detail Page /- -->
	</div><!-- Page Content -->
{% endblock %}
