<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class=""> <!--<![endif]-->
<html>
{{ include('base/head.html.twig') }}
    <body data-offset="200" data-spy="scroll" data-target=".primary-navigation">
        <a id="top"></a>

        {{ include('partial/header.html.twig') }}

        <div id="content">
            {% block body %}{% endblock %}
        </div>

        {% block js %}{% endblock %}

        {{ include('partial/footer.html.twig') }}

        {{ include('base/js.html.twig') }}
    </body>
</html>