{% extends 'base.html.twig' %}

{% block body %}
	<!-- Page Content -->
	<div class="page-content">	
		<!-- Banner Section -->
		<div id="page-banner-section" class="page-banner-section container-fluid p_z">
			<div>
			<iframe src="https://wego.here.com/directions/mix//Avenue-Mohamed-V-67,-Tunis,-Tunisie:36.83572,10.30625?map=36.83604,10.30796,18,normal&fb_locale=fr_FR" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

			</div>
			<!-- Banner Inner -->
			<div class="page-title">
				<div class="container ">
					<div class="banner-inner">
						<h2>Contact</h2>
					</div>
				</div>
				<div class="pages-breadcrumb">
					<div class="container">
						<!-- Page breadcrumb -->
						<ol class="breadcrumb page-breadcrumb pull-right">
							<li><a href="/">Accueil</a></li>
							<li class="active">Contact</li>
						</ol>
					</div>
				</div>
			</div><!-- Banner Inner /- -->
		</div><!-- Banner Section /- -->
		
		<!-- contact-detail -->
		<div id="contact-detail" class="contact-detail">
			<div class="container">
				<!-- contact-address-section -->
			<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="contact-logo-box">
						<img src="images/logo.png" alt="logo">						
					</div>	
					<div class="contact-address">
						<p>
							<i class="fa fa-map-marker"></i>
							<span> 73, Avenue Mohamed 5 - Le Kram - Tunis.</span>
						</p>
						<p>
							<i class="fa fa-phone"></i>
							<span> +216 50 77 09 05 </span>
						</p>
						<p>
							<i class="fa fa-mobile"></i>
							<span>+216 50 77 09 05 </span>
						</p>
						<p>
							<i class="fa fa-envelope-o"></i>
							<a title="mailto" href="mailto:Contact@prospect-immo.tn">Contact@prospect-immo.tn</a>
						</p>
						<p>
							<i class="fa fa-envelope-o"></i>
							<a title="mailto" href="mailto:Hanen.jridi@prospect-immo.tn">Hanen.jridi@prospect-immo.tn</a>
						</p>
					</div>
					<ul class="contact-social-icon">
						<li><a title="facebook" href="https://www.facebook.com/haneneimmo" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a title="instagram" href="https://www.instagram.com/prospectimmo/" target="_blank"><i class="fa fa-instagram"></i></a></li>
						<li><a title="twitter" href="https://twitter.com/prospectimmo" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a title="linkedin-square" href="https://www.linkedin.com/in/prospect-immo-b20297153/" target="_blank"><i class="fa fa-linkedin" ></i></a></li>
						<li><a title="google-plus" href="https://plus.google.com/u/1/110505881530462632415" target="_blank"><i class="fa fa-google-plus"></i></a></li>
						<li><a title="pinterest" href="https://www.pinterest.com/prospectimmo/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
					</ul>
				</div><!---contact-address-section/- -->
				<!-- contact-feedback-form-section -->
				<div class="col-md-9 col-sm-6 col-xs-12">
				
					<div class="contact-feedback-form">
						<h3>CONTACTEZ-NOUS</h3>
						{% if success == true %}
							<div style="margin-top: 20px" class="alert alert-success" role="alert">
								Votre message a bien été transmis !
							</div>
						{% endif %}
						<form method="post">
							<div class="col-md-6 col-sm-12">
								<input type="text" name="user[lastname]" required placeholder="Nom">
							</div>
							<div class="col-md-6 col-sm-12">
								<input type="text" name="user[firstname]" required placeholder="Prénom">
							</div>
							<div class="col-md-6 col-sm-12">
								<input type="text" name="user[phone]" required placeholder="Téléphone">
							</div>
							<div class="col-md-6 col-sm-12">
								<input type="email" name="user[email]" placeholder="Email">
							</div>
							<div class="col-md-12 col-xs-12">
								<textarea rows="3" id="textarea_message" name="message" placeholder="Message" required></textarea>
							</div>
							<div class="col-md-12 col-xs-12">
								<button type="submit" >Envoyer</button>
							</div>
							<div class="col-md-12 col-sm-12">
								<div id="alert-msg" class="alert-msg"></div>
							</div>
						</form>
					</div>	
					
				</div><!-- contact-feedback /- -->
	
				
			</div><!-- container /- -->
		</div><!-- contact-detail /- -->
		<!-- contact-address-group-section/- -->
	</div><!-- Page Content -->
{% endblock %}
