{% extends 'base.html.twig' %}

{% block body %}
	<!-- Page Content -->
	<div class="page-content">
		<!-- Slider block -->
		<div class="slider-block container-fluid p_z">
			<!-- Slider Section -->
			<div id="property-slider" class="carousel slide slider-section" data-ride="carousel">
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
						<div class="item active">
						<img src="images/slider/slide-2.jpg" alt="Slide 2">
						<div class="carousel-caption">
							<div class="slider-content">
								<h4>ACHAT  </h4>
								<h5>Devenir propriétaire est <br>plus simple et plus rapide.</h5>
								<p>Vous bénéficiez à chaque étape de l’accompagnement et de l’assistance de consultants immobiliers spécialisés. </p>
								<a href="/vente-residentiel" title="caption-arrow" class="caption-arrow"><i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="item ">
						<img src="images/slider/slide-2.jpg" alt="Slide 2">
						<div class="carousel-caption">
							<div class="slider-content">
								<h4>LOCATION</h4>
								<h5>La recherche d’un bien immobilier <br>peut s'avérer longue et compliquée !</h5>
								<p>Prospect Immo met son savoir-faire à votre service et s’engage à vous simplifier la location. </p>
								<a href="/location-residentiels" title="caption-arrow" class="caption-arrow"><i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="item">
						<img src="images/slider/slide-2.jpg" alt="Slide 2">
						<div class="carousel-caption">
							<div class="slider-content">
								<h4>PROJETS NEUFS </h4>
								<h5>Un nouveau regard,<br> sur les logements de demain!</h5>
								<p>Prospect Immo vous propose des biens adaptés à vos exigences.</p>
								<a href="/projets-neufs" title="caption-arrow" class="caption-arrow"><i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="item">
						<img src="images/slider/slide-1.jpg" alt="Slide 1">
						<div class="carousel-caption">
							<div class="slider-content">
								<h4>ENTREPRISE <br>& COMMERCE </h4>
								<h5>On veille attentivement <br>sur votre affaire.</h5>
								<p>La qualité est la meilleure des recettes de la réussite.</p>
								<a href="/professionnel" title="caption-arrow" class="caption-arrow"><i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#property-slider" role="button" data-slide="prev">
					<span class="fa fa-long-arrow-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#property-slider" role="button" data-slide="next">
					<span class="fa fa-long-arrow-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div><!-- Slider Section /- -->
		</div><!-- Slider Block /- -->
		
		{{ include('partial/search.html.twig') }}

		<!-- Property Rent And Sale Section -->
		<div id="rent-and-sale-section" class="rent-and-sale-section">
			<!-- container -->
			<div class="container">
				<!-- Rent Property -->
				<div class="rent-property">
					<div class="col-md-3">
						<div class="section-header">
							<h3><span>BIENS IMMOBILIERS</span>à LOUER</h3>
							<p>NOS DERNIÈRES OFFRES DE LOCATION.</p>
						</div>
					</div>
					<div class="col-md-9 p_r_z">
						<div id="rent-property-block" class="rent-property-block">
							{% for key, value in propertiesToLocation %}
							<div class="item">
								<!-- col-md-12 -->
								<div class="col-md-12 rent-block">
									<!-- Property Main Box -->
									<div class="property-main-box">
										<div class="property-images-box">
											<a title="Property Image" href="/property/{{ value.id }}"><img src="/uploads/images/{{ value.principalPicture }}" alt="rdcroutederelaislamarsa" /></a>
											<h4>
												{% if (value.price == 0) %}
													Contacter votre conseiller
												{% else %}
													{{ (value.price | localizedcurrency('TND')) | replace({".000" : ""})}}
												{% endif %}
											</h4>
										</div>
										<div class="clearfix"></div>
										<div class="property-details">
											<a title="Property Title" href="/property/{{ value.id }}">{{ value.titre }}</a>
											<ul>
												<li><i class="fa fa-expand"></i>{{ value.surface }} m²</li>
												<li><i><img src="images/icon/bed-icon.png" alt="bed-icon" /></i>{{ value.pieces }}</li>
												<li><i><img src="images/icon/bath-icon.png" alt="bath-icon" /></i>{{ value.bathroom }}</li>
											</ul>
										</div>
									</div><!-- Property Main Box /- -->
								</div><!-- col-md-12 /- -->
							</div>
							{% endfor %}
						</div>
					</div>
				</div><!-- Rent Property /- -->
				<div class="clearfix"></div>
				<!-- Sale Property -->
				<div class="sale-property">
					<div class="col-md-3">
						<div class="section-header">
							<h3><span>BIENS IMMOBILIERS</span>À VENDRE</h3>
							<p>NOS DERNIÈRES OFFRES DE VENTES.</p>
						</div>
					</div>
					<div class="col-md-9 p_r_z">
						<div id="sale-property-block" class="sale-property-block">
							{% for key, value in propertiesToSell %}
								<div class="item">
									<!-- col-md-12 -->
									<div class="col-md-12 sale-block">
										<!-- Property Main Box -->
										<div class="property-main-box">
											<div class="property-images-box">
												<a title="Property Image" href="/property/{{ value.id }}"><img src="/uploads/images/{{ value.principalPicture }}" alt="rent" /></a>
												<h4>
													{% if (value.price == 0) %}
														Contacter votre conseiller
													{% else %}
														{{ (value.price | localizedcurrency('TND')) | replace({".000" : ""})}}
													{% endif %}
												</h4>
											</div>
											<div class="clearfix"></div>
											<div class="property-details">
												<a title="Property Title" href="/property/{{ value.id }}">{{ value.titre }}</a>
												<ul>
													<li><i class="fa fa-expand"></i>{{ value.surface }} m²</li>
													<li><i><img src="/images/icon/bed-icon.png" alt="bed-icon" /></i>{{ value.pieces }}</li>
													<li><i><img src="/images/icon/bath-icon.png" alt="bath-icon" /></i>{{ value.bathroom }}</li>
												</ul>
											</div>
										</div><!-- Property Main Box /- -->
									</div><!-- Col-md-12 /- -->
								</div>
							{% endfor %}
						</div>
					</div>
				</div><!-- Sale Property /- -->
			</div><!-- container /- -->
		</div><!-- Property Rent And Sale Section /- -->
		
		<!-- Featured Section -->
		<div id="featured-section" class="featured-section container-fluid p_z">
			<div class="container">
				<div class="section-header">
					<p>TENDANCE</p>
					<h3>PROPRIÉTÉ EN VEDETTE</h3>
				</div>
				<div id="featured-property" class="featured-property row">
					{% for key, value in propertiesTrend %}
						<div class="item">
						<!-- col-md-12 -->
						<div class="col-md-12 {% if (value.type == 1) %}sale{% else %}rent{% endif %}-block">
							<!-- Property Main Box -->
							<div class="property-main-box">
								<div class="property-images-box">
									<span>{% if (value.type == 1) %}V{% else %}L{% endif %}</span>
									<a title="Property Image" href="/property/{{ value.id }}"><img src="/uploads/images/{{ value.principalPicture }}" alt="featured" /></a>
									<h4>
										{% if (value.price == 0) %}
											Contacter votre conseiller
										{% else %}
											{{ (value.price | localizedcurrency('TND')) | replace({".000" : ""})}}
										{% endif %}
									</h4>
								</div>
								<div class="clearfix"></div>
								<div class="property-details">
									<a title="Property Title" href="/property/{{ value.id }}">{{ value.titre }}</a>
									<ul>
										<li><i class="fa fa-expand"></i>{{ value.surface }} m²</li>
										<li><i><img src="images/icon/bed-icon.png" alt="bed-icon" /></i>{{ value.pieces }}</li>
										<li><i><img src="images/icon/bath-icon.png" alt="bath-icon" /></i>{{ value.bathroom }}</li>
									</ul>
								</div>
							</div><!-- Property Main Box -->
						</div>
					</div>
					{% endfor %}
				</div>				
			</div>
		</div><!-- Featured Section /- -->
		
		<!-- Property Guide Section -->
		
		</div><!-- Property Guide Section /- -->
		
		<!-- Partner Section 
		<div id="partner-section" class="partner-section">
			<div class="container">
				<div id="business-partner" class="business-partner">
					<div class="item"><a title="Gallery Image" href="#"><img src="images/aa-listing/client1.jpg" alt="client1"></a></div>
					<div class="item"><a title="Gallery Image" href="#"><img src="images/aa-listing/client2.jpg" alt="client2"></a></div>
					<div class="item"><a title="Gallery Image" href="#"><img src="images/aa-listing/client3.jpg" alt="client3"></a></div>
					<div class="item"><a title="Gallery Image" href="#"><img src="images/aa-listing/client1.jpg" alt="client1"></a></div>
					<div class="item"><a title="Gallery Image" href="#"><img src="images/aa-listing/client4.jpg" alt="client4"></a></div>
					<div class="item"><a title="Gallery Image" href="#"><img src="images/aa-listing/client2.jpg" alt="client1"></a></div>	
				</div>
			</div>
		</div> Partner Section /- -->
	</div><!-- Page Content -->

{% endblock %}
