{% extends 'base.html.twig' %}
{% block body %}
	<!-- Page Content -->
	<div class="page-content">
		<!-- Banner Section -->
		<div id="page-banner-section" class="page-banner-section container-fluid p_z">
			<img src="images/aa-listing/banner.jpg" alt="banner">
			<!-- Banner Inner -->
			<div class="page-title">
				<div class="container">
					<div class="banner-inner">
						<h2>Offre de location</h2>
					</div>
				</div>
				<div class="pages-breadcrumb">
					<div class="container">
						<!-- Page breadcrumb -->
						<ol class="breadcrumb page-breadcrumb pull-right">
							<li><a href="/">Accueil</a></li>
							<li class="active">Offre de location</li>
						</ol>
					</div>
				</div>
			</div><!-- Banner Inner /- -->
		</div><!-- Banner Section /- -->

		<!-- Property Listing Section -->
		<div id="property-listing" class="property-listing">
			<div class="container">
				<div class="property-left col-md-9 col-sm-6 p_l_z content-area">
					<div class="section-header p_l_z">
						<div class="col-md-10 col-sm-10 p_l_z">
							<p>Biens</p>
							<h3>à la location</h3>
						</div>
						<div class="view-list col-md-2 col-sm-2 p_r_z">
							<a class="active" title="Grid View" href="/location-residentiels"><i class="fa fa-th"></i></a>
							<a title="List View" href="/location-residentiels"><i class="fa fa-bars"></i></a>
						</div>
					</div>
					{% for key, value in propertiesToLocation %}
						{% if loop.index is divisible by(3) %}
							<div class="property-listing-row row">
						{% endif %}
						<div class="col-md-4 col-sm-12 rent-block">
							<!-- Property Main Box -->
							<div class="property-main-box">
								<div class="property-images-box">
									<span>L</span>
									<a title="Property Image" href="/property/{{ value.id }}"><img src="/uploads/images/{{ value.principalPicture }}" alt="featured" /></a>
									<h4>
										{% if (value.price == 0) %}
											Contacter votre conseiller
										{% else %}
											{{ (value.price | localizedcurrency('TND')) | replace({".000" : ""})}}
										{% endif %}
									</h4>
								</div>
								<div class="clearfix"></div>
								<div class="property-details">
									<a title="Property Title" href="/property/{{ value.id }}">{{ value.titre }}</a>
									<ul>
										<li><i class="fa fa-expand"></i>{{ value.surface }} m²</li>
										<li><i><img src="images/icon/bed-icon.png" alt="bed-icon" /></i>{{ value.pieces }}</li>
										<li><i><img src="images/icon/bath-icon.png" alt="bath-icon" /></i>{{ value.bathroom }}</li>
									</ul>
								</div>
							</div><!-- Property Main Box /- -->
						</div><!-- Col-md-4 /- -->
						{% if loop.index is divisible by(3) %}
							</div>
							<div class="separator"></div>
						{% endif %}
					{% endfor %}

				</div>
				{{ include('partial/search2.html.twig') }}
			</div>
		</div><!-- Property Listing Section /- -->

	</div><!-- Page Content -->
{% endblock %}
