{% extends 'base.html.twig' %}

{% block body %}
	<!-- Page Content -->
	<div class="page-content">
		<!-- Banner Section -->
		<div id="page-banner-section" class="page-banner-section container-fluid p_z">
			<img src="images/aa-listing/banner.jpg" alt="banner">
			<!-- Banner Inner -->
			<div class="page-title">
				
				<div class="pages-breadcrumb">
					<div class="container">
						<!-- Page breadcrumb -->
						<ol class="breadcrumb page-breadcrumb pull-right">
							<li><a href="/">Accueil</a></li>
							<li class="active">Ajouter un nouveau bien</li>
						</ol>
					</div>
				</div>
			</div><!-- Banner Inner /- -->
		</div><!-- Banner Section /- -->
		
		<!-- submit-property-1 -->
		<div class="submit-property">
			<div class="container">
				{% if success == true %}
					<div style="margin-top: 20px" class="alert alert-success" role="alert">
						Votre bien a été enregistré avec succés !
					</div>
				{% endif %}
				<div role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#property_information" aria-controls="property_information" role="tab" data-toggle="tab">Ajouter un nouveau bien</a></li>
					</ul>
					<!-- Tab panes -->
					<div class="contact-feedback-form">
						<form action="/new" method="post" enctype="multipart/form-data" >
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="property_information">
									<h2>Détails</h2>
									<div class="col-md-6">
										<input type="text" id="property-title" required name="property[titre]" placeholder="Titre">
									</div>
									<div class="col-md-6">
										<input type="text" required name="property[address]" placeholder="Adresse">
									</div>
									<div class="col-md-6">
										<select required name="property[region]">
											<option value="">Régions</option>
											{% for key,val in regions %}
												<option value="{{ val.id }}" >{{ val.name }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-md-6">
										<input type="text" required name="property[price]" placeholder="Prix demandé (mettez 0 si vous voulez cacher le prix)">
									</div>
									<div class="col-md-4">
										<select required name="property[type]">
											<option value="">Type</option>
											<option value="0">Vente / Location </option>
											<option value="1">Vente</option>
											<option value="2">Location</option>
										</select>
									</div>
									<div class="col-md-4">
										<select required name="property[category]">
											<option value="">Categorie</option>
											{% for key,val in categories %}
												<option value="{{ val.id }}" >{{ val.name }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-md-4">
										<input required type="text" name="property[surface]" placeholder="Superficie">
									</div>
									<div class="col-md-4">
										<input required type="number" name="property[pieces]" placeholder="Pièces">
									</div>
									<div class="col-md-4">
										<input required type="number" name="property[bathroom]" placeholder="Salle de bain">
									</div>
									<div class="col-md-4">
										<input type="number" required name="property[garage]" placeholder="Garages" value="">
									</div>
									<div class="col-md-4 col-sm-12">
										<div class="form-check">
											<input class="form-check-input" name="property[isNew]" type="checkbox" value="1" id="defaultCheck1">
											<label class="form-check-label" for="defaultCheck1">
												Un bien neuf
											</label>
										</div>
									</div>
									<div class="col-md-4 col-sm-12">
										<div class="form-check">
										<input class="form-check-input" name="property[pro]" type="checkbox" value="1" id="defaultCheck2">
											<label class="form-check-label" for="defaultCheck3">
												Un bien professionnel
											</label>
										</div>
									</div>
									<div class="col-md-4 col-sm-12">
										<div class="form-check">
											<input class="form-check-input" name="property[isPublish]" type="checkbox" value="1" id="defaultCheck3">
											<label class="form-check-label" for="defaultCheck3">
												Publier le bien
											</label>
										</div>
									</div>
									<div class="col-md-12">
										<textarea required rows="4" name="property[description]" placeholder="Description"></textarea>
									</div>
									<h2>Images</h2>
									<!-- Drop Zone -->
									<div id="droparea" class="col-md-6 droparea">
										<div class="dropareainner">
											<p class="dropfiletext">Faites glisser et déposez les images ici</p>
											<p>ou</p>
											<p><input id="uploadbtn" class="uploadbtn" type="button" value="Sélectionner des images"/></p>

										</div>
										<input id="upload" name="images[]" type="file" multiple />
									</div>
									<div id="result" class="result">
										<div class="col-md-3 col-sm-3 col-xs-6 m_r_z">
											<img src="images/drag-drop/drag-image-1.jpg" alt="drag-image-1">
										</div>
										<div class="col-md-3 col-sm-3 col-xs-6 m_r_z">
											<img src="images/drag-drop/drag-image-2.jpg" alt="drag-image-2">
										</div>
										<div class="col-md-3 col-sm-3 col-xs-6 m_r_z">
											<img src="images/drag-drop/drag-image-1.jpg" alt="drag-image-1">
										</div>
										<div class="col-md-3 col-sm-3 col-xs-6 m_r_z">
											<img src="images/drag-drop/drag-image-2.jpg" alt="drag-image-2">
										</div>

										<div class="col-md-3 col-sm-3 col-xs-6 m_r_z">
											<img src="images/drag-drop/drag-image-1.jpg" alt="drag-image-1">
										</div>
										<div class="col-md-3 col-sm-3 col-xs-6 m_r_z">
											<img src="images/drag-drop/drag-image-2.jpg" alt="drag-image-2">
										</div>
										<div class="col-md-3 col-sm-3 col-xs-6 m_r_z">
											<img src="images/drag-drop/drag-image-1.jpg" alt="drag-image-1">
										</div>
										<div class="col-md-3 col-sm-3 col-xs-6 m_r_z">
											<img src="images/drag-drop/drag-image-2.jpg" alt="drag-image-2">
										</div>
										<div style="margin-top: 50px" class="col-md-12">
											<button type="submit" title="Etape suivante" class="next-step">Ajouter</button>
										</div>
									</div><!-- Drop Zone/- -->
								</div><!-- submit-property-2/- -->
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div><!-- Page Content -->
{% endblock %}
