{% extends 'base.html.twig' %}

{% block body %}
	<!-- Page Content -->
	<div class="page-content">
		<!-- Banner Section -->
		<div id="page-banner-section" class="page-banner-section container-fluid p_z">
			<img src="/images/aa-listing/banner.jpg" alt="banner">
			<!-- Banner Inner -->
			<div class="page-title">

				<div class="pages-breadcrumb">
					<div class="container">
						<!-- Page breadcrumb -->
						<ol class="breadcrumb page-breadcrumb pull-right">
							<li><a href="/">Home</a></li>
							<li class="active">Détail page</li>
						</ol>
					</div>
				</div>
			</div><!-- Banner Inner /- -->
		</div><!-- Banner Section /- -->

		<!-- Property Detail Page -->
		<div class="property-main-details">
			<!-- container -->
			<div class="container">
				<div class="property-header">
					<h3>{{ property.titre }}<span>{% if (property.type == 1) %}Vente{% else %}Location{% endif %}</span></h3>
					<ul>
						<li>{{ (property.price | localizedcurrency('TND')) | replace({".000" : ""})}}</li>
						<li>Product ID : {{ property.id }}</li>
						<li><i class="fa fa-expand"></i>{{ property.surface }} m²</li>
						<li><i><img src="/images/icon/bed-icon.png" alt="bed-icon" /></i>{{ property.pieces }}</li>
						<li><i><img src="/images/icon/bath-icon.png" alt="bath-icon" /></i>{{ property.bathroom }}</li>
						<li><i class="fa fa-car"></i>{{ property.garage }}</li>
					</ul>
				</div>
				<div class="property-details-content container-fluid p_z">
					<!-- col-md-9 -->
					<!-- col-md-9 -->
					<div class="col-md-9 col-sm-6 p_z">
						<!-- Slider Section -->
						<div id="property-detail1-slider" class="carousel slide property-detail1-slider" data-ride="carousel">
							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox" >
								{% for key, value in pictures %}
								<div class="item {% if (loop.index == 1) %}active{% endif %}">
									<img src="/uploads/images/{{ value.name }}" alt="Slide">
								</div>
								{% endfor %}
							</div>

							<!-- Controls -->
							<a class="left carousel-control" href="#property-detail1-slider" role="button" data-slide="prev">
								<span class="fa fa-long-arrow-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#property-detail1-slider" role="button" data-slide="next">
								<span class="fa fa-long-arrow-right" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div><!-- Slider Section /- -->
						<div class="single-property-details">
							<h3>Description</h3>
							<p>	{{ property.description }}</p>
						</div>
						<div class="general-amenities pull-left">
						</div>
						<div class="property-direction pull-left">

							<div class="property-map">
								<h3>Partager cette propriété:</h3>
								<ul>
									<li><a href="#" title="twitter"><i class="fa fa-twitter"></i></a></li>
									<li><a href="https://www.facebook.com/agenceimmobiliereprospectimmo/" title="facebook"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" title="google-plus"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#" title="linkedin-square"><i class="fa fa-linkedin-square"></i></a></li>
									<li><a href="#" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="#" title="instagram"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div><!-- col-md-9 /- -->
					<div class="col-md-3 col-sm-6 p_z property-sidebar single-property-sidebar">
						<div class="agent-details">
							<div class="agent-header">
								<div class="agent-img"><img src="/images/single-property/agent.jpg" alt="agent" /></div>
								<div class="agent-name">
									<h5>Hanen Jridi</h5>
									<ul class="property-social p_l_z m_b_z">
										<li><a href="https://www.facebook.com/Haneneimmo" title="facebook" target='_blank'><i class="fa fa-facebook"></i></a></li>
										<li><a title="instagram" href="https://www.instagram.com/prospectimmo/" target="_blank"><i class="fa fa-instagram"></i></a></li>
										<li><a title="linkedin-square" href="https://www.linkedin.com/in/prospect-immo-b20297153/" target="_blank"><i class="fa fa-linkedin" ></i></a></li>
										<li><a title="google-plus" href="https://plus.google.com/u/1/110505881530462632415" target="_blank"><i class="fa fa-google-plus"></i></a></li></ul>

								</div>
								<p> Conseillère et négociatrice en immobilier.</p>
							</div>
							<p><i class="fa fa-phone"></i>(+216)  50 77 09 05</p>
							<p><i class="fa fa-envelope-o"></i><a href="Hanen.jridi@prospect-immo.tn" title="mail" target='_blank'>Hanen.jridi@prospect-immo.tn</a></p>
							<a title="View More" href="https://www.facebook.com/Haneneimmo" class="view-more">Voir Profil</a>
						</div>

					</div>
				</div>
			</div>
			<!-- container /- -->
		</div><!-- Property Detail Page /- -->


	</div><!-- Page Content -->
{% endblock %}
