{% extends 'base.html.twig' %}

{% block body %}
	<div class="page-content">
		<!-- Banner Section -->
		<div id="page-banner-section" class="page-banner-section container-fluid p_z">
			<img src="images/aa-listing/banner.jpg" alt="banner">
			<!-- Banner Inner -->
			<div class="page-title">
				<div class="container ">
					<div class="banner-inner">
						<h2>Augmentez vos chances de trouver une maison</h2>
					</div>
				</div>
				<div class="pages-breadcrumb">
					<div class="container">
						<!-- Page breadcrumb -->
						<ol class="breadcrumb page-breadcrumb pull-right">
							<li><a href="/">Accueil</a></li>
							<li class="active">Déposer votre requête</li>
						</ol>
					</div>
				</div>
			</div><!-- Banner Inner /- -->
		</div><!-- Banner Section /- -->
		
		<!-- submit-property-1 -->
		<div class="submit-property">
			<div class="container">
				{% if success == true %}
					<div style="margin-top: 20px" class="alert alert-success" role="alert">
						Votre requête a bien été transmis !
					</div>
				{% endif %}
				<div role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#property_information" aria-controls="property_information" role="tab" data-toggle="tab">Déposer votre requête</a></li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="property_information">
							<div class="contact-feedback-form">
								<form action="" method="post">
									<div class="col-md-12">
										<h2>Détails sur la demande</h2>
									</div>
									<div class="col-md-6">
										<select required name="request[type]">
											<option value="">Type</option>
											<option value="4">Achat / Location</option>
											<option value="3">Achat</option>
											<option value="2">Location</option>
										</select>
									</div>
									<div class="col-md-6">
										<select name="request[category]">
											<option value="">Categorie</option>
											{% for key,val in categories %}
												<option value="{{ val.id }}" >{{ val.name }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-md-6">
										<select required name="request[region]">
											<option value="">Régions</option>
											{% for key,val in regions %}
												<option value="{{ val.id }}" >{{ val.name }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-md-6">
										<input type="text" required name="request[surface]" placeholder="Surface (une estimation)">
									</div>
									<div class="col-md-6">
										<input type="text" required name="request[pieces]" placeholder="Piéces">
									</div>
									<div class="col-md-6">
										<input type="text" required name="request[budget]" placeholder="Budget max.">
									</div>
									<div class="col-md-12">
										<textarea  rows="4" name="request[description]" placeholder="Description"></textarea>
									</div>
									<div class="col-md-12">
										<h2>Informations personnelles</h2>
									</div>
									<div class="col-md-4 col-sm-4">
										<input type="text" name="user[lastname]" required placeholder="Nom">
									</div>
									<div class="col-md-7 col-sm-7">
										<input type="text" name="user[firstname]" required placeholder="Prénom">
									</div>

									<div class="col-md-4 col-sm-4">
										<input type="text" name="user[phone]" required placeholder="Téléphone">
									</div>
									<div class="col-md-7 col-sm-7">
										<input type="email" name="user[email]" placeholder="Email">
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<button style="margin-top: 50px" type="submit" title="Etape suivante" class="next-step">Envoyer votre demande</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- Page Content -->
{% endblock %}
