{% extends 'base.html.twig' %}

{% block body %}
	<div class="page-content">
		<!-- Banner Section -->
		<div id="page-banner-section" class="page-banner-section container-fluid p_z">
			<img src="images/aa-listing/banner.jpg" alt="banner">
			<!-- Banner Inner -->
			<div class="page-title">
				<div class="container ">
					<div class="banner-inner">
						<h2>Confiez-nous votre projet, vous appréciez la différence !</h2>
					</div>
				</div>
				<div class="pages-breadcrumb">
					<div class="container">
						<!-- Page breadcrumb -->
						<ol class="breadcrumb page-breadcrumb pull-right">
							<li><a href="/">Accueil</a></li>
							<li class="active">Proposer votre bien</li>
						</ol>
					</div>
				</div>
			</div><!-- Banner Inner /- -->
		</div><!-- Banner Section /- -->

		<!-- submit-property-1 -->
		<div class="submit-property">
			<div class="container">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="javascript:void(0)" aria-controls="property_information" role="tab" data-toggle="tab">Proposer votre bien</a></li>
				</ul>
				{% if success == true %}
					<div style="margin-top: 20px" class="alert alert-success" role="alert">
						Votre proposition a bien été transmis !
					</div>
				{% endif %}
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active">
							<div class="contact-feedback-form">
								<form action="" method="post">
									<div class="col-md-12">
										<h2>Informations sur le bien</h2>
									</div>

									<div class="col-md-12">
										<input type="text" required id="property-title" name="property[titre]" placeholder="Titre">
									</div>
									<div class="col-md-6">
										<select required name="property[region]">
											<option value="">Régions</option>
											{% for key,val in regions %}
												<option value="{{ val.id }}" >{{ val.name }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-md-6">
										<input type="text" required name="property[address]" placeholder="Adresse">
									</div>
									<div class="col-md-6">
										<select required name="property[type]">
											<option value="">Type</option>
											<option value="0">Vente / Location </option>
											<option value="1">Vente</option>
											<option value="2">Location</option>
										</select>
									</div>
									<div class="col-md-6">
										<select required name="property[category]">
											<option value="">Categorie</option>
											{% for key,val in categories %}
												<option value="{{ val.id }}" >{{ val.name }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-md-6">
										<input required type="number" name="property[pieces]" placeholder="Pièces">
									</div>
									<div class="col-md-6">
										<input required type="number" name="property[bathroom]" placeholder="Salle de bain">
									</div>
									<div class="col-md-6">
										<input type="number" required name="property[garage]" placeholder="Garages" value="">
									</div>
									<div class="col-md-6">
										<input type="text" required name="property[price]" placeholder="Prix demandé">
									</div>
									<div class="col-md-12">
										<textarea  required rows="4" name="property[description]" placeholder="Description"></textarea>
									</div>
									<div class="col-md-12">
										<h2>Données personnelles</h2>
									</div>

									<div class="col-md-6 col-sm-12">
										<input type="text" name="user[lastname]" required placeholder="Nom">
									</div>
									<div class="col-md-6 col-sm-12">
										<input type="text" name="user[firstname]" required placeholder="Prénom">
									</div>
									<div class="col-md-6 col-sm-12">
										<input type="text" name="user[phone]" required placeholder="Téléphone">
									</div>
									<div class="col-md-6 col-sm-12">
										<input type="email" name="user[email]" placeholder="Email">
									</div>

									<div class="col-md-12 col-sm-12" style="margin-top:20px">
										<button type="submit" title="Etape suivante" class="next-step">Envoyer</button>
									</div>
								</form>
							</div>
						</div><!-- submit-property-5/- -->
					</div>
			</div>
		</div>
	</div><!-- Page Content -->
{% endblock %}
