{% block footer %}
    <!-- Footer Section -->
    <div id="footer-section" class="footer-section">
        <!-- container -->
        <div class="container">
            <!-- col-md-3 -->
            <div class="col-md-3 col-sm-6">
                <!-- About Widget -->
                <aside class="widget widget_about">
                    <h3 class="widget-title">A propos de nous</h3>
                    <p>Prospect  Immo une agence immobilière intermédiaire spécialisée dans les opérations d'achat, de vente et de location des biens immobiliers.</p>
                </aside>
                <!-- About Widget /- -->
            </div><!-- col-md-3 -->

            <!-- col-md-3 -->
            <div class="col-md-3 col-sm-6">
                <!-- Quick Link Widget -->
                <aside class="widget widget_quick_links">
                    <h3 class="widget-title">Nos services</h3>
                    <ul class="p_l_z">
                        <li><a title="Achat" href="#">Achat</a></li>
                        <li><a title="Estimation" href="#">Estimation</a></li>
                        <li><a title="Vente" href="#">Vente</a></li>
                        <li><a title="Conseils" href="#">Conseils</a></li>
                        <li><a title="Location" href="#">Location</a></li>

                    </ul>
                </aside>
                <!-- Quick Link Widget /- -->
            </div><!-- col-md-3 -->

            <!-- col-md-3 -->
            <div class="col-md-3 col-sm-6">
                <!-- Address Widget -->
                <aside class="widget widget_address">
                    <h3 class="widget-title">Adresse</h3>
                    <p>73, Avenue Mohamed 5 - Le Kram - Tunis.</p>
                    <span> + 216 50 77 09 05</span>
                    <a title="mailto" href="mailto:Contact@prospect-immo.tn ">Contact@prospect-immo.tn</a>
                </aside>
                <!-- Address Widget /- -->
            </div><!-- col-md-3 -->

            <!-- col-md-3 -->
            <div class="col-md-3 col-sm-6">
                <!-- Address Widget -->
                <aside class="widget widget_newsletter">
                    <h3 class="widget-title">NewsLetter</h3>
                    <div class="input-group newsletter" >
                        <input type="text" class="form-control" name="newsletter" placeholder="Votre email ici " />
                        <span class="input-group-btn">
							<button class="btn btn-default" id="setNewsletter" type="button">Ok</button>
						</span>
                    </div><!-- /input-group -->
                    <div style="color: red" class="valid-tooltip"></div>
                </aside>
                <!-- Address Widget /- -->
            </div><!-- col-md-3 -->
        </div><!-- container /- -->
        <!-- Footer Bottom -->
        <div id="footer-bottom" class="footer-bottom">
            <!-- container -->
            <div class="container">
                <p class="col-md-4 col-sm-6 col-xs-12">&copy; 2015 Prospect Immo ‐ Tous les droits sont réservés</p>
                <div class="col-md-4 col-sm-6 col-xs-12 pull-right social">
                    <ul class="footer_social m_b_z">
                        <li><a title="facebook" href="https://www.facebook.com/Haneneimmo" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a title="instagram" href="https://www.instagram.com/prospectimmo/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a title="twitter" href="https://twitter.com/prospectimmo" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a title="linkedin-square" href="https://www.linkedin.com/in/prospect-immo-b20297153/" target="_blank"><i class="fa fa-linkedin" ></i></a></li>
                        <li><a title="google-plus" href="https://plus.google.com/u/1/110505881530462632415" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        <li><a title="pinterest" href="https://www.pinterest.com/prospectimmo/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                    <a href="#" title="back-to-top" id="back-to-top" class="back-to-top"><i class="fa fa-long-arrow-up"></i> Haut</a>
                </div>
            </div><!-- container /- -->
        </div><!-- Footer Bottom /- -->
    </diV><!-- Footer Section -->
{% endblock %}