{% block header %}
    <header id="header-section" class="header header1 container-fluid p_z">
        <!-- container -->
        <div class="container">
            <!-- Top Header -->
            <div class="top-header">
                <p class="col-md-6 col-sm-9">
                    <span><i class="fa fa-phone"></i>  +216 50 77 09 05 </span>
                    <span><a title="mail-to" href="mailto:Contact@prospect-immo.tn"><i class="fa fa-envelope-o"></i> contact@prospect-immo.tn</a></span>
                </p>
                <div class="col-md-6 col-sm-3 p_r_z">
                    <ul class="property-social p_l_z m_b_z">
                        <li><a title="facebook" href="https://www.facebook.com/Haneneimmo" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a title="instagram" href="https://www.instagram.com/prospectimmo/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a title="twitter" href="https://twitter.com/prospectimmo" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a title="linkedin-square" href="https://www.linkedin.com/in/prospect-immo-b20297153/" target="_blank"><i class="fa fa-linkedin" ></i></a></li>
                        <li><a title="google-plus" href="https://plus.google.com/u/1/110505881530462632415" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        <li><a title="pinterest" href="https://www.pinterest.com/prospectimmo/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div><!-- Top Header -->
            <!-- Navigation Block -->
            <div class="navigation-block">
                <!-- Logo Block -->
                <div class="col-md-2 logo-block no-padding">
                    <a title="logo" href="/"><img src="/images/logo.png" alt="logo"/></a>
                </div><!-- Logo Block /- -->
                <div class="col-md-7 menu-block">
                    <!-- nav -->
                    <nav class="navbar navbar-default primary-navigation">
                        <div class="navbar-header">
                            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse" id="navbar">
                            <ul class="nav navbar-nav">
                                <li {% if app.request.get('_route') == 'index' %} class="active"{% endif %}><a href="/">Accueil</a></li>
                                <li {% if app.request.get('_route') == 'sale' %} class="active"{% endif %}><a href="/vente-residentiel">Vente</a></li>
                                <li {% if app.request.get('_route') == 'location' %} class="active"{% endif %}><a href="/location-residentiels">Location</a></li>
                                <li {% if app.request.get('_route') == 'new-project' %} class="active"{% endif %}><a href="/projets-neufs">Neuf</a></li>
                                <li {% if app.request.get('_route') == 'pro' %} class="active"{% endif %}><a href="/professionnel">Professionnel</a></li>
                                <li {% if app.request.get('_route') == 'about_us' %} class="active"{% endif %}><a href="/a-propos">A propos</a></li>
                                <li {% if app.request.get('_route') == 'contact' %} class="active"{% endif %}><a href="/contact">Contact</a></li>

                            </ul>
                        </div><!--/.nav-collapse -->
                    </nav><!-- nav /- -->
                </div><!-- Menu Block /- -->
                <div class="col-md-3 links">
                    <a title="Proposer votre bien" href="/suggest" class="pull-right">Proposer votre bien</a><br>
                    <a title="Déposer votre requête" href="/request" class="pull-right dark">Déposer votre requête</a>
                </div>
            </div><!-- Navigation Block /- -->
            <div class="pull-right">
                <a title="User" href="#" class="user-icon"><img src="/images/icon/user-icon.png" alt="user icon" /></a>
                <div id="sb-search" class="sb-search">
                    <form>
                        <input class="sb-search-input" placeholder="Entrez votre terme de recherche ..." type="text" value="" name="search" id="search">
                        <button class="sb-search-submit"><i class="fa fa-search"></i></button>
                        <span class="sb-icon-search"></span>
                    </form>
                </div>
            </div>
        </div><!-- container /- -->
    </header><!-- Header Section /- -->
{% endblock %}