{% block search2 %}
    <div class="col-md-3 col-sm-6 p_r_z property-sidebar widget-area">
        <aside class="widget widget-search">
            <h2 class="widget-title">RECHERCHER<span>VOTRE BIEN</span></h2>
            <form>
                <select>
                    <option value="selected">Référence</option>

                </select>
                <select>
                    <option value="selected">Choix</option>
                    <option value="one">Achat</option>
                    <option value="two">Location</option>

                </select>
                <select>
                    <option value="selected">Catégorie</option>
                    <option value="one">One</option>
                    <option value="two">Two</option>
                    <option value="three">Three</option>
                    <option value="four">Four</option>
                    <option value="five">Five</option>
                </select>
                <select>
                    <option value="selected">Ville</option>
                    <option value="one">One</option>
                    <option value="two">Two</option>
                    <option value="three">Three</option>
                    <option value="four">Four</option>
                    <option value="five">Five</option>
                </select>
                <div class="col-md-6 col-sm-12 p_l_z">
                    <select>
                        <option value="selected">Pièces</option>
                        <option value="one">One</option>
                        <option value="two">Two</option>
                        <option value="three">Three</option>
                        <option value="four">Four</option>
                        <option value="five">Five</option>
                    </select>
                </div>
                <div class="col-md-6 col-sm-12 p_r_z">
                    <select>
                        <option value="selected">Salle d'eau</option>
                        <option value="one">One</option>
                        <option value="two">Two</option>
                        <option value="three">Three</option>
                        <option value="four">Four</option>
                        <option value="five">Five</option>
                    </select>
                </div>
                <div class="col-md-6 col-sm-12 p_l_z">
                    <select>
                        <option value="selected">Budget Min</option>
                        <option value="one">One</option>
                        <option value="two">Two</option>
                        <option value="three">Three</option>
                        <option value="four">Four</option>
                        <option value="five">Five</option>
                    </select>
                </div>
                <div class="col-md-6 col-sm-12 p_r_z">
                    <select>
                        <option value="selected" >Budget Max</option>
                        <option value="one">$3000</option>
                        <option value="two">$30000</option>
                        <option value="three">$300000</option>
                        <option value="four">$3000000</option>
                        <option value="five">$3000000000000000</option>


                    </select>
                </div>

                <input type="submit" value="Rechercher" class="btn">
            </form>
        </aside>
    </div>
{% endblock %}
