{% block search %}
    <!-- Search Section -->
    <div id="search-section" class="search-section container-fluid p_z">
        <!-- Container -->
        <div class="container">
            <!-- col-md-10 -->
            <div class="col-md-10 col-sm-9 p_l_z">
                <select>
                    <option>Achat / Location</option>
                    <option>Achat</option>
                    <option>Location</option>
                </select>

                <select>
                    <option value="selected">Type du bien </option>
                    <option value="one">Appartement</option>
                    <option value="two">Etage de villa</option>
                    <option value="two">Villa</option>
                    <option value="two">Duplex / Triplex</option>
                    <option value="two">Penthouse</option>
                    <option value="three">Terrain</option>
                    <option value="five">Bureau</option>
                    <option value="five">Local commercial</option>
                    <option value="four">Immeuble</option>
                    <option value="four">Usine</option>
                </select>

                <select>
                    <option value="selected">Ville</option>
                    <option value="one">Tunis</option>
                    <option value="two">Ariana</option>
                    <option value="three">Ben Arous</option>
                    <option value="four">Mannouba</option>
                    <option value="five">Nabeul</option>
                    <option value="one">Les Berges du Lac</option>
                    <option value="two">La Marsa</option>
                    <option value="three">Le Kram</option>
                    <option value="four">La Goulette</option>
                    <option value="five">Carthage</option>
                </select>
                <select>
                    <option value="selected">Piéces</option>
                    <option value="one">1</option>
                    <option value="two">2</option>
                    <option value="three">3</option>
                    <option value="four">4</option>
                    <option value="five">5 et +</option>
                </select>
                <select>
                    <option value="selected">Salle de bain</option>
                    <option value="one">  1 </option>
                    <option value="one">2 </option>
                    <option value="two">3 </option>
                    <option value="three">4 </option>
                    <option value="four">5 et +</option>
                </select>

                <select>
                    <option value="selected">Prix Min.</option>
                    <option value="one">  2,500 TND </option>
                    <option value="one">5,000 TND </option>
                    <option value="two">10,000 TND </option>
                    <option value="three">20,000 TND </option>
                    <option value="four">50,000 TND </option>
                </select>
                <select>
                    <option value="selected">Prix Max.</option>
                    <option value="one">  2,500 TND </option>
                    <option value="one">5,000 TND </option>
                    <option value="two">10,000 TND </option>
                    <option value="three">20,000 TND </option>
                    <option value="four">50,000 TND </option>
                </select>

                <select>
                    <option value="selected">Surface Max.</option>
                    <option value="one">  20 m </option>
                    <option value="one">  50 m </option>
                    <option value="one">  100 m</option>
                    <option value="one"> 150 m </option>
                    <option value="one"> 200 m </option>
                    <option value="one">  300 m</option>
                    <option value="one"> 400 m  </option>
                    <option value="one">  500 m </option>
                    <option value="one">  700 m </option>
                    <option value="one">   1000 m</option>
                </select>

            </div>
            <div class="col-md-2 col-sm-3">
                <div class="section-header">
                    <h3><span>Rechercher</span>un Bien</h3>
                    <a title="Rechercher" class="btn" href="#">Rechercher</a>
                </div>
            </div>
            <!-- col-md-2 /- -->
        </div><!-- Container /- -->
    </div><!-- Search Section /- -->
{% endblock %}